target/
out/
.idea/
*.iml
.vscode
.DS_Store
*.log*
*.*~
src/main/resources/config/debug*.properties
src/main/resources/config/sterling/suite/debug.properties
src/main/resources/config/debug_light.properties
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/bin/
debug.properties
debug.story
run/local-run.properties
run/local-run-INTL.properties
run/local-run-US.properties
.allure
usedTestProducts.json
DDF.CA.save.yaml
DDF.US.save.yaml
DDF.INTL.save.yaml
DDF.MX.save.yaml
*config.properties

# following line ignores qtest agent logs. It's rather specific, so that no actual files would be ingored as well.
/[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].txt
